/* General Styling */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Changed font family */
    background: linear-gradient(135deg, #FFFFFF, #F0F0F0);
    color: #333;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Reduced padding */
    background: #282A36; /* Dark background */
    color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 30px; /* Reduced height of header */
}

.left-content h1 {
    font-size: 22px; /* Decreased font size */
    font-weight: bold;
    color: #FF6F61; /* Highlighted word color */
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.right-content .contact-button {
    background-color: #FF6F61; /* Vibrant button color */
    color: #FFFFFF;
    border: none;
    padding: 10px 18px;
    font-size: 14px; /* Decreased font size */
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-button:hover {
    transform: scale(1.1); /* Slight zoom animation on hover */
    background-color: #E05A50; /* Slightly darker color on hover */
}

.contact-button:active {
    transform: scale(0.95); /* Press effect */
}

/* Logo Section */
.logo-container {
    display: flex;
    justify-content: center;
    gap: 100px; /* Add space between logos */
    margin-top: 40px; /* Add some space below logos */
    flex-wrap: wrap; /* Ensure wrapping on small screens */
}

.logo-item {
    flex: 1; /* Make items flexible */
    display: flex;
    justify-content: center;
}

.logo-item1 img {
    width: 300px; /* Default logo size */
    height: auto;
}
.logo-item2 img {
    margin-top: 40px;
    width: 340px; /* Default logo size */
    height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; /* Stack logos vertically on smaller screens */
        gap: 1px; /* Reduce gap between logos */
    }
    .logo-item1 img {
        width: 270px; /* Smaller logo size for mobile screens */
    }
  .logo-item2 img {
        margin-top: -30px;
        width: 320px; /* Smaller logo size for mobile screens */
    }
}
